:root {
  --github-link: #0366d6;
}

body {
  background-color: var(--dark);
  // github-markdown-css
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

a {
  color: var(--github-link);
}

a:hover {
  color: var(--github-link);
}
