body {
  // _reboot.scssを拡張する	
  font-family: "Noto Sans JP", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: $bgColor;
}

a {
  color: $linkColor;
}

a:hover {
  color: $hoverColor;
}
