body {
  // github-markdown-cssに合わせる
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  background-color: $bgColor;
}

a {
  color: $linkColor;
}

a:hover {
  color: $hoverColor;
}
