// https://content.nuxtjs.org/ja/displaying#style

.nuxt-content {
  h1, h2, h3, h4, h5, h6 {
    margin: 2rem 0;
  }

  ul, pre {
    margin: 1rem 0
  }

  li {
    margin: 0.8rem 0;
    line-height: $lineHeight;
  }

  // 文中のコードの色を変更する
  :not(pre) > code {
    background-color: $bgNord;
    color: $textNord;
    padding: 0.2rem 0.4rem;
    border-radius: 4px;
  }

  p {
    margin: 1rem 0;
    line-height: $lineHeight;
  }

  img {
    max-width: 100%;
    // 画像を中央寄せする
    display: block;
    margin: 0 auto
  }

  blockquote {
    // 幅に合わせて文字を折り返す
    word-wrap: break-word;

    color: $textMuted;
  }

  table {
    // セルの線を重ねる
    border-collapse: collapse;

    th, td {
      border: dotted 1px;
      padding: 0.8rem;
    }

    th {
      text-align: center;
    }
  }
}
