.markdown {
  h2 {
    border-bottom: 1px solid $headingBorderBottomColor;
  }

  pre {
    white-space: pre-wrap;
  }

  blockquote {
    p::before {
      content: "\201C";
    }
    
    p::after {
      content: "\201D";
    }
  }

  .cursor-zoom-in {
    cursor: zoom-in;
  }
}
