$lineHeight: 1.5rem;

// bootstrap
$bgLight: #f8f9fa;
$textInfo: #17a2b8;
$textDark: #343a40;
$textMuted: #6c757d;

// prism-nord
$bgNord: #2E3440;
$textNord: #f8f8f2;

// GItHub
$linkGitHub: #0366d6;
