.p-article {
  h2 {
    margin: 40px 0;
  }

  .clearfix::after {
    display: block;
    clear: both;
  }

  .tags {
    float: right;

    .badge:nth-child(n + 2) {
      margin-left: 10px;
    }
  }
}
