.p-article {
  &__tags-wrapper::after {
    display: block;
    clear: both;
  }

  &__tags {
    float: right;
  }

  &__tag {
    text-decoration: none;
  }

  &__tag:hover {
    text-decoration: underline;
  }
}
