.p-markdown {
  img {
    max-width: 100%;
  }

  pre {
    white-space: pre-wrap;
  }

  blockquote {
    p {
      // bootstrap .badge-light
      background: #f8f9fa;
    }

    p::before {
      content: "\201C";
    }
    
    p::after {
      content: "\201D";
    }
  }
}
