.p-markdown {
  h3,
  h4,
  h5,
  h6 {
    margin: 40px 0;
  }

  hr {
    margin: 40px 0;
  }

  li {
    margin: 10px 0;
  }

  img {
    max-width: 100%;
  }

  pre {
    white-space: pre-wrap;
  }

  blockquote {
    p {
      padding: 15px;
      // bootstrap .badge-light
      background: #f8f9fa;
    }

    p::before {
      content: "\201C";
    }
    
    p::after {
      content: "\201D";
    }
  }
}
