.p-markdown {
  h3 {
    display: inline-block;
    border-bottom: 1px solid;
    padding-bottom: 8px;
  }

  h3,
  h4,
  h5,
  h6 {
    margin: 40px 0;
  }

  hr {
    margin: 40px 0;
  }

  li {
    margin: 10px 0;
  }

  img {
    max-width: 100%;
  }

  pre {
    white-space: pre-wrap;
  }

  blockquote {
    color: gray;
    padding: 10px 20px;

    a {
      color: gray;
    }
  }
}
