.p-thumbnail {
  // https://www.php.net/
  &__php {
    background-color: #8892BF;
  }

  // https://www.python.org/
  &__python {
    background-color: #3776AB;
  }

  // https://github.com/voodootikigod/logo.js/
  &__js {
    background-color: #F0DB4F;
  }

  // https://jp.vuejs.org/index.html
  &__vue {
    background-color: #41B883;
  }

  // https://www.google.com/intl/ja_jp/chrome/
  &__chrome {
    background-color: #4B8BF5;
  }

  // https://ja.wikipedia.org/wiki/Internet_Explorer
  &__ie {
    background-color: #58CBF2;
  }

  // https://gitforwindows.org/
  // https://www.postgresql.org/
  &__git {
    background-color: #F34F29;
  }

  // https://www.postgresql.org/
  &__postgresql {
    background-color: #336790;
  }

  // https://www.centos.org/
  &__centos {
    background-color: #EFA724;
  }
}
